main{
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
   
}
a {
    text-decoration: none;
}
nav a{
    text-decoration: none;
    padding: 10px;
}
/* search form */

.form-container{
    background-color: red;
    
    display: flex;
    justify-content: center;
    justify-self: center;
}
input{
    font-family: 'Nanum Pen Script', cursive;
    height: 50px;
    width: 250px;
    font-size: 25px;

  
}
button{
    font-family: 'Nanum Pen Script', cursive;
    height:50px;
    width: 150px;
    font-size: 25px;
    margin: 10px;
    padding:5px;
}
/* end search form */
.header{
    
    grid-column: 2;
    grid-row: 1;
   font-size: 10px;
   font-weight: 100;
 
}

.nav{
    
    font-size: 2em;
    display: block;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    display: inline;
    
}

.nav div{
    grid-row: 1;
    text-align: center;
}
/* results page */
.results-container{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 1200px;
    overflow: auto;
}

.search-results{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 3px;
    padding:0px;
   
}
.search-results img{
    border-radius: 10px;
}

.search-results .bite{
    position: absolute;
    text-align:center;
    font-size:20px;
    opacity: 0;
    height: 200px;
    width: 200px;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    
}
.search-results .bite:hover{
   color: darkgoldenrod;
    background-color: rgb(255, 255, 255);
    opacity: .8;
    border-radius: 10px;
   
}
/* end results page */

/* bite show page */

.bite-page{
    background-image: url('https://images.unsplash.com/photo-1600493505423-474fea65ad9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
}


/* end bite show page */

/* misc page */

.coming-soon{
    text-align: center;
}


.bulldozer{
   height: 100px;

}

/* end misc page */






/* font-family: 'Heebo', sans-serif;
font-family: 'Sarabun', sans-serif; */