main{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 1fr;
    height: 100%;
}

.header{
    border: 2px solid black;
    grid-column: 2;
    grid-row: 1;
}

.nav{
    border: 2px solid black;
    grid-column: 1;
    grid-row: span 2;
}

.body{
    border: 2px solid black;
    grid-column: 2;
    grid-row: 2;
}

.search-body{
    display: grid;
    grid-template-columns: .5fr .75fr;
}
.results-container{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    grid-column: 2;
}
.search-results{
    display:grid;
    grid-template-columns: 1fr .5fr;
    width: 50%;
    border: 2px solid black;
}